#footer {
    font-size: 0.8em;
    color: grey;
    background: black;
    width: 100%;
}

a {
    color: grey;
}

a:hover {
    color: white;
}

#heart {
    font-size: small;
}

#copyright {
    font-size: 0.7em;
}