#footer-component {
    margin-top: 50px;
    position: fixed;
    width: 100%;
}

#footer {
    font-size: 0.8em;
    color: grey;
    background: black;
    width: 100%;
}

a {
    color: grey;
}

a:hover {
    color: white;
}

#heart {
    font-size: small;
}

#copyright {
    font-size: 0.7em;
}

#container {
    display: flex;
    // min-height: 100vh;
    flex-direction: column;
    width: 100%
}