.display-story-component {
    font-family: 'Roboto Slab', serif;
    padding-top: 5%;
}

.prompt-details-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr 1fr;
    grid-template-rows: 0.2fr 1fr 0.3fr;
    gap: 1px 1px;
    grid-template-areas: 
        "ds-image ds-image . ds-options" 
        "ds-image ds-image ds-title ds-title"
        "ds-image ds-image . .";
    padding-bottom: 5%;
  }
  
.ds-title { 
    grid-area: ds-title;
    margin-left: 5%;
    font-size: 2em;
 }
 .ds-title::first-letter {
     text-transform: uppercase;
 }

.ds-image { 
    grid-area: ds-image;
    max-width: 450px;
    max-height: 300px;
 }

 .display-image {
    max-width: 100%;
    max-height: 100%;
 }

.ds-options { 
    grid-area: ds-options;
    display: flex;
    justify-content: flex-end;
 }

.entry-grid-container {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr auto;
    gap: 1px 1px;
    grid-template-areas: 
        "ds-text ds-text ds-text"
        "ds-text ds-text ds-text"
        "ds-likes ds-author ds-author";
    background-color: #ffffff;
    padding: 5%;
    margin-bottom: 5%;
    box-shadow: 5px 5px 5px rgb(190, 190, 190);
  }
  
.ds-text { 
    grid-area: ds-text;
    border-bottom: 1px solid rgb(233, 233, 233);
    padding-bottom: 20px;
}

.ds-text > p {
    margin: 3% 0;
}

.ds-text::first-letter {
    text-transform: uppercase;
    float: left;
    font-size: 3em;
    line-height: 60px;
    margin-top: -5px;
    padding-right: 5px;
    padding-left: 5px;
}

.ds-likes { 
    grid-area: ds-likes;
    align-self: flex-end;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
 }

 .bi-heart-fill {
     margin-bottom: 2px;
 }

.ds-author { 
    font-size: 0.9em;
    grid-area: ds-author;
    text-align: end;
    color: #1282A2;
    font-family: 'Pacifico', cursive;
    padding-top: 30px;
    padding-right: 30px;
 }

 .ds-author2 { 
    font-size: 1.3em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #1282A2;
    font-family: 'Pacifico', cursive;
    // padding-top: 30px;
    // padding-right: 30px;
 }