#navbar {
    margin-bottom: 75px;
}

a {
    text-decoration: none;
    color: #B1B1B8;
}

a:hover {
    text-decoration: none;
    color: #000;
}

.side-link:hover {
    color: #000;
}

#app-title {
    color: #06E49B;
    font-family: 'Pacifico', cursive;
    font-size: 1.6em;
}

#AppBar {
    background-color: #000;
}

#log-out {
    align-self: flex-end;
    
}

.navbar-link {
    color: white;
    font-size: 0.7em;
}