.display-story {
    margin-bottom: 200px;
}

#select-genre {
    color: #B1B1B8;
    font-size: 1em;
}

#select-dropdown {
    color: #B1B1B8;
    font-size: 0.8em;
}

.MenuItem {
    color: red;
}

