.filter-wrapper {
    font-size: 0.8em;
    font-family: 'Roboto', serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2% 5% 5% 0;
    // background-color: rgb(241, 241, 241);
    // border: 1px rgb(213, 231, 230) solid;
}

.filter-wrapper > div {
    margin-left: 5%;
}

label {
    padding-right: 10px;
}

select {
    font-family: 'Roboto', serif;
    border: none;
    border-bottom: 2px rgb(213, 231, 230) solid;
    background-color: inherit;
    width: 100%;
}

.button {
    background-color: #ffffff;
    font-family: 'Roboto', serif;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(190, 190, 190);
    // text-transform: uppercase;
}



// .grid-container {
//     border: 1px rgb(213, 231, 230) solid;
//     border-radius: 2px;
//     box-shadow: 
//         5px 5px 5px rgb(190, 190, 190);
//     background-color: #ffffff;
//     font-size: 0.9em;
//     font-family: 'Roboto Slab', serif;
//     color: rgb(50, 121, 109);
//     display: grid;
//     grid-template-columns: 1fr 1fr 1fr 1fr;
//     grid-template-rows: 0.8fr 2.5fr 0.2fr;
//     gap: 1px 1px;
//     grid-template-areas: 
//         "image title title author"
//         "image preview-text preview-text preview-text"
//         ". genre collab likes";
//     margin-bottom: 2%;
//     padding: 2%;
//     padding-top: 1%;
//   }